/** Media Queries **/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  /* 1REM = 10px */
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.upArrowButton {
  display: none;
  position: fixed;
  color: rgba(8, 0, 0, 0.5);
  background-color: transparent;
  bottom: 10px;
  right: 10px;
  padding: 1rem;
  z-index: 99;
  font-size: 60px;
  border: none;
  outline: none;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .upArrowButton {
    bottom: 20px;
    right: 30px;
  }
}
.upArrowButton:hover {
  color: rgba(0, 0, 0, 0.9);
}

body {
  font-family: "Fredoka", sans-serif;
  height: 100%;
  background-color: azure;
  line-height: 1.15;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  padding: 3rem 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #005b9f;
}

.content, .newsletter .contenido-newsletter, .gallery, .about .about_content, .category, .text_hero {
  width: 80%;
  margin: 0 auto;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.hero {
  background-image: url("../img/hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.header_nav {
  color: #ffffff;
  position: absolute;
  top: 1rem;
  width: 100%;
}
.header_nav .header_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.3rem;
}
@media only screen and (min-width: 768px) {
  .header_nav .header_bar {
    font-size: 1.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 0;
  }
}
.header_nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 1rem;
  text-transform: uppercase;
  padding: 2rem 0;
}
@media only screen and (min-width: 768px) {
  .header_nav nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 3rem;
    padding-top: 0;
  }
}
.header_nav .logo {
  width: 35rem;
}
@media only screen and (min-width: 768px) {
  .header_nav .logo {
    width: 40rem;
  }
}

.text_hero {
  color: #373737;
  text-align: center;
  padding: 3rem 1rem;
}
.text_hero h1 {
  text-transform: unset;
  font-size: 6rem;
  font-weight: 400;
  border-bottom: 0.5rem solid #009045;
  padding-bottom: 1rem;
}
.text_hero p {
  font-size: 2rem;
  padding-top: 1rem;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .text_hero p {
    color: #373737;
  }
}

.category .category_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
}
.category .logo_category {
  text-align: center;
  padding: 1rem 0;
  margin: 0 auto;
  width: 5rem;
}
.category .category_text {
  background-color: #acd4b1;
  padding: 1rem;
}
.category .category_text h2 {
  padding: 1rem 3rem;
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
}
.category .category_text h2::after {
  height: 0.02rem;
  width: 15rem;
  background-color: #373737;
  padding-bottom: 0.5rem;
  display: block;
  content: "";
  margin: 1rem auto 0 auto;
}
.category .category_text p {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 300;
}
.category .vellon_card {
  background-color: #84ccd8;
}

.about {
  margin-top: 3rem;
  background-repeat: no-repeat;
  background-size: 100%, 150rem;
  background-position: 55% 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, transparent), color-stop(0%, #84ccd8)), url("../img/about.webp");
  background-image: linear-gradient(to top, transparent 50%, #84ccd8 0%), url("../img/about.webp");
}
@media only screen and (min-width: 768px) {
  .about {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(0%, #84ccd8)), url("../img/about.webp");
    background-image: linear-gradient(to left, transparent 50%, #84ccd8 0%), url("../img/about.webp");
    background-position: center left;
  }
}
.about .about_content {
  display: grid;
  grid-template-rows: repeat(2, 40rem);
  gap: 6rem;
}
@media only screen and (min-width: 768px) {
  .about .about_content {
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);
    padding: 8rem 0;
  }
}
.about .about_card {
  font-size: 1.8rem;
  font-weight: 300;
}
.about .about_card mar h1 {
  text-align: left;
  padding: 3rem 0;
}
.about .about_card p {
  margin-bottom: 2rem;
}

.gallery .product_gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.gallery .product_gallery .gallery_card:nth-child(7) {
  grid-column: 1/3;
}
@media only screen and (min-width: 768px) {
  .gallery .product_gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery .product_gallery .gallery_card:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .gallery .product_gallery .gallery_card:nth-child(6) {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .gallery .product_gallery .gallery_card:nth-child(7) {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
.gallery .product_gallery .gallery_card:last-of-type {
  position: relative;
}
.gallery .product_gallery .gallery_card:last-of-type .over_img {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.gallery .product_gallery .gallery_card:last-of-type .over_img p {
  text-align: center;
  text-transform: uppercase;
  font-size: 10rem;
  color: #f2f2f2;
}
.gallery img, .gallery .over_img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.gallery img:hover, .gallery .over_img:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cursor, .newsletter .formulario input[type=submit] {
  cursor: pointer;
}

.modalGallery {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
@media only screen and (min-width: 768px) {
  .modalGallery {
    padding: 30px;
  }
}
.modalGallery .closeModal {
  color: white;
  position: absolute;
  top: calc(10% - 10px);
  right: 25px;
  font-size: 50px;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .modalGallery .closeModal {
    top: 10px;
    right: 25px;
  }
}
.modalGallery .closeModal:hover, .modalGallery .closeModal:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.modalGallery .galleryContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modalGallery .slideGallery img {
  margin: 0 auto;
  width: 55rem;
}
.modalGallery .prev, .modalGallery .next {
  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.9);
}
.modalGallery .numberImage {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

/** Newsletter*/
.newsletter {
  margin-top: 3rem;
  background-repeat: no-repeat;
  background-size: 100%, 150rem;
  background-position: 55% 100%;
  background-color: #84ccd8;
  padding: 4rem 0;
  color: black;
  /* Social y dropdown*/
}
@media only screen and (min-width: 768px) {
  .newsletter {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(0%, #84ccd8)), url("../img/contact.jpg");
    background-image: linear-gradient(to right, transparent 50%, #84ccd8 0%), url("../img/contact.jpg");
    background-position: center center;
  }
}
@media only screen and (min-width: 768px) {
  .newsletter .contenido-newsletter {
    display: grid;
    gap: 6rem;
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 0;
  }
}
.newsletter .texto-newsletter {
  font-size: 1.8rem;
  font-weight: 300;
  grid-column: 2/3;
}
.newsletter .texto-newsletter h1 {
  padding: 3rem 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .newsletter .texto-newsletter h1 {
    text-align: left;
  }
}
.newsletter .texto-newsletter p {
  margin-bottom: 2rem;
}
.newsletter .formulario input[type=text] {
  width: 100%;
  padding: 1rem;
}
.newsletter .formulario input[type=submit] {
  width: 100%;
  padding: 2rem;
  background-color: #acd4b1;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  border: none;
}
.newsletter nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .newsletter nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
}
.newsletter nav div {
  -ms-flex-item-align: center;
  align-self: center;
}
.newsletter nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.newsletter nav ul li {
  padding: 1rem;
}
.newsletter nav ul li:hover {
  background-color: #1a2770;
}
.newsletter nav ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
}
.newsletter .sociales ul li span {
  display: none;
}
.newsletter .sociales ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  /* justify-content: center;
  justify-content: space-around; */
  /* justify-content: space-between; */
}
.newsletter .sociales ul li a:before {
  font-family: "Font Awesome 5 Brands";
}
.newsletter .sociales ul li a[href*="facebook.com"]::before {
  content: "\f39e";
}
.newsletter .sociales ul li a[href*="twitter.com"]::before {
  content: "\f099";
}
.newsletter .sociales ul li a[href*="youtube.com"]::before {
  content: "\f431";
}
.newsletter .sociales ul li a[href*="instagram.com"]::before {
  content: "\f16d";
}
.newsletter .sociales ul li a[href*="pinterest.com"]::before {
  content: "\f231";
}
.newsletter .navegacion-social-dropdown {
  background-color: #3F51B5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: black;
  padding: 2rem 0;
}