/** Media Queries **/
@mixin telefono {
    @media only screen and (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media only screen and (min-width: #{$desktop}) {
        @content;
    }
}


@mixin box-sizing($box-model) {
            box-sizing: $box-model;
}
@mixin gradiente($color1, $color2) {
    background: linear-gradient(to right, $color1 0%, $color2 100%);
}

@mixin flex_row($justify: space-between,$aling: center){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $aling;
}

@mixin flex_column ($justify: space-between,$aling: center){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $aling;
}

@mixin back_image($img){
    background-image: url($img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}