// Fuentes
$fuentePrincipal: 'Fredoka', sans-serif;
// $fuenteSecundaria: 'Oswald', sans-serif;

// Tamaño de Media Queries
$telefono : 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #005b9f;
$secundario:#003f8c;
$terciario: #009045;
$alternativo: #ce6b00;
$gris: #eeeeee;
$grisOscuro: #373737;
$blanco: #ffffff;
$color_1: #acd4b1;
$color_2: #84ccd8;

