@import "var";
@import "mix";

//Custom
html {
    @include box-sizing(border-box);
    height: 100%;
    font-size: 62.5%; /* 1REM = 10px */
}

*,
*:after,
*:before {
  @include box-sizing(inherit);
}

.upArrowButton{
    display: none;
    position: fixed;
    color: rgba(8, 0, 0, 0.5);
    background-color: transparent;
    bottom: 10px;
    right: 10px;
    padding: 1rem;
    @include tablet(){
        bottom: 20px;
        right: 30px;
    }
    z-index: 99;
    font-size: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover{
        color: rgba(0, 0, 0, 0.9);
    }
}
  


body {
    font-family: $fuentePrincipal;
    height: 100%;
    background-color:azure;
    line-height: 1.15;
}

img {
    max-width: 100%;
    height: 100%;
    display: block;
}

h1, h2, h3, p{
    margin: 0;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    padding: 3rem 0;
}

a{
    text-decoration: none;
    color:$blanco;
    &:hover{
        color:$primario;
    }

}

.content{
    width: 80%;
    margin: 0 auto;
}

.displayNone{
    display: none;
}

.displayBlock{
    display: block;
}

.hero{
    background-image: url("../img/hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.header_nav{
    color:$blanco;
    //background-color: rgba(8, 0, 0,.5);
    position: absolute;
    top: 1rem;
    width: 100%;
    .header_bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.3rem;
        @include tablet(){
            font-size: 1.5rem;
            flex-direction: row;
            justify-content: space-between  ;
            align-items: center;
            padding: 1rem 0;
        }
    }
    nav{
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        text-transform: uppercase;
        padding: 2rem 0;
        @include tablet(){
            justify-content: space-between;
            gap: 3rem;
            padding-top: 0;
        }

    }
    .logo{
        width: 35rem;
        @include tablet(){
            width: 40rem;
        }
    }
}
.text_hero{
    color: $grisOscuro  ; 
    //background-color: rgba(8, 0, 0,.5);
    text-align: center;
    padding: 3rem 1rem;
    @extend .content;
    h1{
        text-transform: unset;
        font-size: 6rem;
        font-weight: 400;
        border-bottom: .5rem solid $terciario;
        padding-bottom: 1rem;
    }
    p{
        font-size: 2rem;
        padding-top: 1rem;
        color:$blanco;
        @include tablet(){
            color: $grisOscuro; 
        }
    }
}

.category{
    @extend .content;
    .category_main{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
        gap: 4rem;
    }

    .logo_category{ 
        text-align: center;
        padding: 1rem 0;
        margin: 0 auto;
        width: 5rem;
    }
    .category_text{
        background-color: $color_1;
        padding: 1rem;
        h2{
            padding: 1rem 3rem;
            text-align: center;
            font-weight: 400;
            font-size: 3rem;
            &::after{
                height: .02rem;
                width: 15rem;
                background-color:$grisOscuro;
                padding-bottom: .5rem;
                display: block;
                content:'';
                margin: 1rem auto 0 auto;
            }
        }
        p{
            padding: 2rem;
            font-size: 2rem;
            font-weight: 300;
        }
    }
    .vellon_card{
        background-color: $color_2;

    }
}

.about{
    margin-top: 3rem;
    background-repeat: no-repeat;
    background-size: 100% , 150rem;
    background-position: 55% 100%;
    background-image: linear-gradient( to top, transparent 50% , $color_2 0%), url("../img/about.webp");
    @include tablet(){        
        background-image: linear-gradient( to left, transparent 50% , $color_2 0%), url("../img/about.webp");
        background-position: center left;
    }
    .about_content{
        @extend .content;
        display: grid;
        grid-template-rows: repeat(2, 40rem);
        gap: 6rem;
        @include tablet(){
            grid-template-rows: unset;
            grid-template-columns: repeat(2, 1fr);
            padding: 8rem 0;
        }
    }
    .about_card{
        font-size: 1.8rem;
        font-weight: 300;
        mar
        h1{
            text-align: left;
            padding: 3rem 0;
        }
        p{
            margin-bottom: 2rem;
        }
    }
}

.gallery{
    @extend .content;
    .product_gallery{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        .gallery_card:nth-child(7){
            grid-column: 1 / 3;
        } 
        @include tablet(){
            grid-template-columns: repeat(3,1fr);
            .gallery_card:nth-child(4){
                grid-column: 1 / 2;
                grid-row: 2 / 4;
            }
            .gallery_card:nth-child(6){
                grid-column: 3 / 4;
                grid-row: 1 / 3;
            } 
            .gallery_card:nth-child(7){
                grid-column: 3 / 4;
                grid-row: 3 / 4;
                
            } 
        }
        .gallery_card:last-of-type{
            position: relative;
            .over_img{
                background-color:rgba(0, 0, 0, 0.3);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0.1%;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 10rem;
                    color: #f2f2f2;
                }
            }
        }
    }
    img,.over_img{
        object-fit: cover;
        transition: 0.3s;
        &:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }


}

.cursor {
    cursor: pointer;
}

.modalGallery{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    @include tablet(){
        padding: 30px;
    }

    .closeModal {
        color: white;
        position: absolute;
        top: calc( 10% - 10px);
        right: 25px;
        @include tablet(){
            top: 10px;
            right: 25px;
        }
        font-size: 50px;
        font-weight: bold;
        &:hover,&:focus{            
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .galleryContent {
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .slideGallery{
        img{
           margin: 0 auto;
           width: 55rem;
        }
    }
    .prev,.next {
      cursor: pointer;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      background-color: rgba(0, 0, 0, 0.9);
    }
    .numberImage {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
    }

}

/** Newsletter*/
.newsletter{
    margin-top: 3rem;
    background-repeat: no-repeat;
    background-size: 100% , 150rem;
    background-position: 55% 100%;
    //background-image: url("../img/contact.jpg");
    //background-image: linear-gradient(to top, transparent 0% , $color_2 100%);
    background-color: $color_2;
    padding: 4rem 0;
    color: black;
    @include tablet(){        
        background-image: linear-gradient(to right, transparent 50% , $color_2 0%), url("../img/contact.jpg") ;
        background-position: center center;
    }
    .contenido-newsletter{
        @extend .content;
        //grid-template-rows: repeat(2, 40rem);
        @include tablet(){
            display: grid;
            gap: 6rem;
            grid-template-rows: unset;
            grid-template-columns: repeat(2, 1fr);
            padding: 4rem 0;
        }
    }
    .texto-newsletter{
        font-size: 1.8rem;
        font-weight: 300;
        grid-column: 2 / 3;
        h1{
            padding: 3rem 0;
            text-align: center;
            @include tablet(){
                text-align: left;
            }
        }
        p{
            margin-bottom: 2rem;
        }
    }
    .formulario input[type="text"] {
        width: 100%;
        padding: 1rem;
    }
    
    .formulario input[type="submit"] {
        @extend .cursor;
        width: 100%;
        padding: 2rem;
        background-color: $color_1;
        color: $blanco;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 900;
        border: none;
    }
    nav {
        display: flex;
        justify-content: center;
        @include tablet(){
            justify-content: end;
        }
    }
    nav div{
        align-self: center;
    }
    nav ul {
        list-style:none;
        margin:0;
        padding:0;
    }
    nav ul li {
        padding: 1rem;
    }
    nav ul li:hover {
        background-color: #1a2770;
    }
    nav ul a {
        color: $blanco;
        text-decoration: none;
        font-size: 2rem;
    }
    .sociales ul li span{
        display: none;
    }
    .sociales ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        justify-content: flex-end;
        /* justify-content: center;
        justify-content: space-around; */
        /* justify-content: space-between; */
        //flex:1 0 100%;
    }
    .sociales ul li a:before {
        font-family: "Font Awesome 5 Brands";
    }
    .sociales ul li a[href*='facebook.com']::before {
        content: "\f39e";
    }
    
    .sociales ul li a[href*='twitter.com']::before {
        content: "\f099";
    }
    .sociales ul li a[href*='youtube.com']::before {
        content: "\f431";
    }
    .sociales ul li a[href*='instagram.com']::before {
        content: "\f16d";
    }
    .sociales ul li a[href*='pinterest.com']::before {
        content: "\f231 ";
    }
    
    
    /* Social y dropdown*/
    .navegacion-social-dropdown {
        background-color: #3F51B5;
        display: flex;
        justify-content: space-between;
    }
}

footer p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    // background-color: $color_1;
    color: black;
    padding: 2rem 0;
}